<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thank You For Your Donation</title>
    <style>
        * {
            box-sizing: border-box;
        }
        html, body {
            margin: 0;
            padding: 0;
        }
        .flex {
            display: flex;
        }

        .flex.flex-row {
            flex-direction: row;
        }

        .flex.flex-between {
            justify-content: space-between;
        }

        .container {
            margin: 20px auto;
            max-width: 640px;
        }

        .thankyou-data {
            border-top: 1px solid black;
            border-right: 5px solid black;
            border-left: 5px solid black;
            padding: 10px;
            width: 100%;
        }

        .thankyou-data:first-of-type{
            border-top: 5px solid black;
        }

        .thankyou-data:last-child {
            border-bottom: 5px solid black;
        }

        .thankyou-data:nth-child(odd) {
            background: rgba(0, 0, 0, 0.25);
        }

        .redirect>a {
            color: #1775BC;
            transition: color 200ms ease-in-out;
        }

        .redirect>a:hover{
            color: #091d44;
        }

    </style>
</head>

<body>
    

    {{#if om_sTransactionID}}
        <h1>Thank you!!!</h1>
        <div class="container">
            <div class="flex flex-row flex-between thankyou-data"><span>Donation </span><span>{{om_bDonation}}</span></div>
            <div class="flex flex-row flex-between thankyou-data"><span>TransactionID </span><span>{{om_sTransactionID}}</span></div>
            <div class="flex flex-row flex-between thankyou-data"><span>TransactionDescription </span><span>{{om_sTransactionDescription}}</span></div>
            <div class="flex flex-row flex-between thankyou-data"><span>MotivationText </span><span>{{om_sMotivationText}}</span></div>
            <div class="flex flex-row flex-between thankyou-data"><span>MonthlyPledge </span><span>{{om_sMonthlyPledge}}</span></div>
            <div class="flex flex-row flex-between thankyou-data"><span>RecurringDay </span><span>{{om_sRecurringDay}}</span></div>
            <div class="flex flex-row flex-between thankyou-data"><span>SinglePledge </span><span>{{om_sSinglePledge}}</span></div>
            <div class="flex flex-row flex-between thankyou-data"><span>DonationType </span><span>{{om_sDonationType}}</span></div>
            <div class="flex flex-row flex-between thankyou-data"><span>DonationDetail </span><span>{{om_sDonationDetail}}</span></div>
            <div class="flex flex-row flex-between thankyou-data"><span>DonationEmail </span><span>{{om_sDonationEmail}}</span></div>
        </div>
    {{else}}
        <div class='redirect'>Please first make a donation at <a href="http://10.100.43.50:1234/index.html">localhost:1234</a></div>
    {{/if}}
</body>

</html>